%btn,
.btn {
  cursor: pointer;
  font-family: $fontTradeGothicBold;
  font-size: inuit-rem(12px);
  outline: none;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  transition: all 500ms ease;
  z-index: 1;

  &--mouseOver {

    &:before {
      background-color: $brand-primary-1;
      content: " ";
      height: 100%;
      left: -5%;
      position: absolute;
      top: 0;
      transition: all 300ms ease;
      width: 0%;
      z-index: -1;
    }

    &:hover {
      color: $brand-primary-4;

      &:before {
        color: $brand-primary-1;
        width: 120%;
      }
    }
  }
}
