.c-holding {

  min-height: 100vh;

  &__container {
    left: 50%;
    margin: inuit-rem(70px) 0;
    padding: 0 inuit-rem(15px);
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    z-index: 50;
    
    @include mq($from: tablet) {
      margin: 0;
      padding: 0;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 75%;
    }

    @include mq($from: desktop) {
      min-width: inuit-rem(500px);
      width: 33%;
    }
  }
    
  &__logo {
    margin: 0 auto;
    width: 100%;

    @include mq($from: mobileLandscape) {
      width: 80%;
    }
  }

  &__title {
    font-family: $fontHighlandpark;
    font-size: inuit-rem(28px);
    letter-spacing: 1px;
    margin: inuit-rem(60px) auto inuit-rem(10px);
    text-align: center;
    text-transform: uppercase;

    @include mq($from: tablet) {
      font-size: inuit-rem(32px);
      line-height: $heading-line-height;
      margin: inuit-rem(40px) auto 0;
    }
  }

  &__links {
    display: block;
    font-family: $fontTradeGothicBold;
    font-size: inuit-rem(12px);
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;

    a {
      border-bottom: inuit-rem(1px) solid transparent;
      color: $black;
      display: block;
      text-decoration: none;

      &:active,
      &:focus,
      &:hover {
        border-bottom: 1px solid $brand-secondary-3;
      }
    }

    @include mq($until: mobileLandscape) {
      &:last-child {
        margin-top: inuit-rem(12px);
      }
    }

    @include mq($from: mobileLandscape) {

      display: inline;
      font-size: inuit-rem(14px);

      a {
        display: inline-block;
      }
      
      &--right {
        text-align: right;
      }

      &--left {
        text-align: left;
        padding-left: inuit-rem(12px);
      }
      
      &:first-child::after {
        content: "|";
        font-size: inuit-rem(14px);
        padding-left: inuit-rem(12px);
      }
    }
  }

  &__form {
    background-color: $brand-primary-4;
    margin-top: inuit-rem(50px);
    padding: inuit-rem(20px) inuit-rem(10px);

    @include mq($from: tablet) {
      padding: inuit-rem(15px);
    }

    &__title {
      color: $brand-primary-1;
      display: block; 
      font-family: $fontTradeGothicBold;
      font-size: inuit-rem(18px);
      letter-spacing: $base-letter-spacing;
      line-height: $heading-line-height;
      margin: 0 auto inuit-rem(10px);
      padding-left: 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;

      @include mq($from: mobileLandscape) {
        width: 80%;
      }
    }

    &__input {

      display: inline-block;
      margin-bottom: inuit-rem(16px);
      padding: 0;
      width: 100%;

      @include mq($from: mobileLandscape) {
        width: 49%;

        &:first-child {
          margin-right: 1%;
        }

        &:last-child {
          margin-left: 1%;
          margin-right: 0;
        }
      }

      @include mq($from: desktop) {
        margin-bottom: 0;

        &:last-child {
          margin-left: 0;
        }
      }
      
      input {
        border: 0;
        font-family: $fontLight;
        font-size: inuit-rem(12px);
        height: inuit-rem(25px);
        line-height: inuit-rem(25px);
        padding: 0 0 0 inuit-rem(10px); 
        width: 100%; 
      }
    }

    &__submit {
      padding-left: 0;
      width: 100%;

      @include mq($from: desktop) {
        width: 98%;
        margin-left: 2%;
      }

      button {
        @extend %btn;

        background-color: $brand-primary-4;
        border: inuit-rem(1px) solid $brand-primary-1;
        border-radius: 0;
        color: $brand-primary-1;
        letter-spacing: 1px;
        line-height: inuit-rem(23px);
        padding: 0;
        width: 100%;

        &::before {
          background-color: $brand-primary-1;     
        }

        &:hover {
          color: $brand-primary-4;

          &::before {
            width: 120%;
          }
        }
      }
    }
  }

  &__video {
    background: url('../media/holding-video-fallback.png') no-repeat;
    background-size: cover;
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    z-index: -100;

    &__fallback {
      z-index: -101;
    }
  }
}
